.character {
  &__table {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-header {
      backdrop-filter: blur(5px);
      background-color: rgba(#4a4a4a, 0.5);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 5px 0;
    }
    &-body {
      display: flex;

      flex-direction: column-reverse;
      gap: 10px;
    }
    &-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(10% - 4px);
  height: 92px;
  width: 68.22px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  padding: 5px;
  &-header {
    color: #e9e8e8;
    height: fit-content;
    border: none;
    font-size: 18px;
  }
  &.true {
    background-color: #3da75e;
    color: white;
    border: #24d475 2px solid;
  }
  &.false {
    background-color: #d53633;
    color: white;
    border: #ff3737 2px solid;
  }
  &.maybe {
    background-color: #de870f;
    color: white;
    border: #ffa82f 2px solid;
  }
}

.main {
  .vs__dropdown-toggle {
    background-color: #e9e8e8;
    border-width: 2px;
    transition: border 0.2s ease;
  }
  .vs--open .vs__dropdown-toggle {
    border: 2px solid #7a5c2e;
    border-bottom-color: transparent;
  }
  .vs__dropdown-menu {
    background-color: #e9e8e8;
    border: 2px solid #7a5c2e;
    border-top-color: transparent;
    border-width: 2px;
  }
  .vs__search:focus,
  .vs__search {
    font-size: 20px;
    padding: 10px 22px;
  }
  .vs__actions {
    padding: 4px 22px 0 0;
  }
}

.winner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-to, .fade-leave /* .fade-enter-active in <2.1.8 */ {
  opacity: 1;
  transform: translateY(0);
}

.character__table-row .block {
  // opacity: 0; /* Початкова непрозорість */
  // transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Затримки для кожного блоку */
.character__table-row .block:nth-child(1) {
  transition-delay: 0.2s;
}
.character__table-row .block:nth-child(2) {
  transition-delay: 0.4s;
}
.character__table-row .block:nth-child(3) {
  transition-delay: 0.6s;
}
.character__table-row .block:nth-child(4) {
  transition-delay: 0.8s;
}
.character__table-row .block:nth-child(5) {
  transition-delay: 1s;
}
.character__table-row .block:nth-child(6) {
  transition-delay: 1.2s;
}
.character__table-row .block:nth-child(7) {
  transition-delay: 1.4s;
}
.character__table-row .block:nth-child(8) {
  transition-delay: 1.6s;
}
.character__table-row .block:nth-child(9) {
  transition-delay: 1.8s;
}
.character__table-row .block:nth-child(10) {
  transition-delay: 2s;
}
.character__table-row .block:nth-child(11) {
  transition-delay: 2.2s;
}

.character__table-row .block {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.character__table-row.appear .block {
  transform: translateY(0px);
  opacity: 1;
}
